.descripcion-usuario {
    display: flex;
    align-items: center;
    flex-direction: column;

    .imagen {
        height: 8rem;
        width: 8rem;
        margin-top: 5rem;
    }

    .nombre {
        color: #17202a;
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: 500;
        text-shadow: 0px 1px 2px black;
    }

    .beneficiario {
        color: #abb2b9;
        margin-bottom: 1rem;
        line-height: 0px;
    }
    .border {
        border-bottom: 1px solid #abb2b9;
        margin-top: 3rem;
        width: 37%;
    }
}
