.user {
    .image {
        height: 8rem;
        margin-top: 5rem;
        width: 8rem;
    }

    .separator {
        border-bottom: 2px solid #dadada;
        width: 35%;
    }

    @media only screen and (max-width: 1120px) {
        display: none !important;
    }
}
