<div class="navigation-container shadow">
    <app-servicio-usuario></app-servicio-usuario>

    <!-- Origin and destination -->
    <div class="mt-5 pt-4 px-4">
        <h1 class="fs-5">¿A donde vamos?</h1>

        <!-- Origin -->
        <app-autocomplete locationName="origen"></app-autocomplete>

        <!-- Destination -->
        <app-autocomplete locationName="destino"></app-autocomplete>

        <!-- Go -->
        <div class="d-flex buttons mt-2">
            <button class="btn btn-success btn-confirm">Confirmar</button>
            <button class="btn btn-secondary btn-limpiar ml-4" (click)="dispatchEventResetMap()">Limpiar</button>
        </div>
    </div>


    <!-- Favorite list -->
    <div class="mt-3 px-4">
        <h1 class="fs-5">Favoritos</h1>

        <div class="favorite-list">
            <div *ngFor="let fav of favorites" class="item-favorite d-flex align-items-center mb-1 px-2 py-2"
                (click)="setLocation(fav)">

                <!-- Icon -->
                <i class="icon far fa-star rounded-circle"></i>

                <!-- Address -->
                <div class="address d-flex flex-column justify-content-center">
                    <p class="mb-0">{{ fav?.origin?.city }}</p>
                    <p class="mb-0">{{ fav?.origin?.direction }}</p>
                </div>
            </div>
        </div>
    </div>
</div>