.navigation-container {
    background-color: #f0f3f4;
    width: 24%;
    position: absolute;
    height: 48rem;
    top: 2.5rem;
    right: 56rem;
    z-index: 999;

    .buttons {
        gap: 0.5em;
        justify-content: flex-end;

        .btn-confirm {
            background-color: #00bfa6 !important;
            border: none;
            font-size: 14px;

            &:hover {
                background-color: #06b39c;
            }
        }

        .btn-limpiar {
            font-size: 14px;
        }
    }

    .favorite-list {
        height: 360px;
        overflow-y: scroll;

        .item-favorite {
            gap: 1em;

            &:hover {
                background-color: #e6e6e6;
                border-left: 6px solid #00bfa6;
                border-radius: 10px;
                transition: 0.2s;
                cursor: pointer;
            }

            .icon {
                align-items: center;
                background-color: #f9e79fb5;
                color: #f1c40f;
                display: flex;
                justify-content: center;
                height: 2rem;
                width: 2rem;
            }
        }
    }
}
