<div class="contenedor">
    <app-servicio-usuario></app-servicio-usuario>

    <!-- Origenes -->
    <div class="contenedor-origen">
        <div class="btn-group me-2" role="group" aria-label="First group">
            <div class="botones-origenes">
                <div class="origen1">
                    <button type="button" class="boton btn btn-primary">1</button>
                    <p class="titulo-origen">Origen</p>
                </div>
                <button type="button" class="boton btn btn-primary">2</button>
                <button type="button" class="boton btn btn-primary">3</button>
                <button type="button" class="boton btn btn-primary">4</button>
                <button type="button" class="boton btn btn-primary">5</button>
                <button type="button" class="boton btn btn-primary">6</button>
            </div>
        </div>
    </div>

    <!-- Selector -->
    <div>
        <select class="selector form-select">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>

    <!-- Input -->
    <div>
        <div class="contenedor-input input-group flex-nowrap">
            <input type="text" class="input form-control" placeholder="¿Donde te recogemos?"
                aria-describedby="addon-wrapping">
        </div>
    </div>

    <!-- Lista favoritos -->
    <div>
        <p class="titulo-favorito">Favoritos</p>
        <div class="border"></div>
    </div>
    <div class="lista-favorito">
        <div class="direccion-favorita">
            <i class="icono far fa-star"></i>
            <div class="direccion">
                <p class="titulo-direccion">Barranquilla</p>
                <p class="detalles-direccion">Cra. 42h #80-167</p>
            </div>
        </div>
        <div class="direccion-favorita">
            <i class="icono far fa-star"></i>
            <div class="direccion">
                <p class="titulo-direccion">Barranquilla</p>
                <p class="detalles-direccion">Cra. 42h #80-167</p>
            </div>
        </div>
        <div class="direccion-favorita">
            <i class="icono far fa-star"></i>
            <div class="direccion">
                <p class="titulo-direccion">Barranquilla</p>
                <p class="detalles-direccion">Cra. 42h #80-167</p>
            </div>
        </div>
        <div class="direccion-favorita">
            <i class="icono far fa-star"></i>
            <div class="direccion">
                <p class="titulo-direccion">Barranquilla</p>
                <p class="detalles-direccion">Cra. 42h #80-167</p>
            </div>
        </div>
        <div class="direccion-favorita">
            <i class="icono far fa-star"></i>
            <div class="direccion">
                <p class="titulo-direccion">Barranquilla</p>
                <p class="detalles-direccion">Cra. 42h #80-167</p>
            </div>
        </div>

    </div>
    <div class="piecera">
        <button type="button" class="boton btn btn-light"><i class="fas fa-arrow-right"></i></button>
    </div>
</div>