.franja-gris {
    background-color: #566573;
    height: 4rem;
    width: 100%;
}

.cabezera {
    background-color: #f0f3f4;
    width: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 1rem;
    left: 26px;
    box-shadow: 0px 5px 8px -5px black;
    gap: 3rem;

    .contenedor-icono {
        display: flex;
        flex-direction: column;
        align-items: center;

        .icono {
            font-size: 1.5rem;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            color: #abb2b9;
            border: 1px solid #abb2b9;

            &:hover {
                color: #00bfa6bd;
                cursor: pointer;
                background-color: #00bfa621;
                border: none;
            }
        }

        .nombre-icono {
            font-size: 18px;
            font-weight: 500;
            color: #abb2b9;
        }
    }
}
