.bar {
    background-color: #00bfa6;
    height: 4rem;
}

.services-container {
    background-color: #f0f3f4;
    border-radius: 0.5rem;
    left: 26px;
    height: 6rem;
    gap: 3rem;
    position: absolute;
    top: 1rem;
    width: 87%;

    .item-service {
        .icon {
            width: 3rem;
            height: 3rem;
            color: #abb2b9;
            border: 2px solid #abb2b9;

            &:hover {
                color: #00bfa6bd;
                cursor: pointer;
                background-color: #00bfa621;
                border: none;
            }
        }

        .name {
            font-size: 14px;
        }
    }
}
