.app-container {
    display: flex;

    .sidebar {
        width: 20%;

        @media only screen and (max-width: 1120px) {
            background-color: white;
            bottom: 0;
            height: 50px;
            position: absolute;
            width: 100%;
            z-index: 999;
        }
    }

    .map {
        background-color: gainsboro;
        height: 100vh;
        width: 80%;

        @media only screen and (max-width: 1120px) {
            width: 100%;
        }
    }
}
