.sidebar-container {
    height: 100vh;
    transition: 0.2s;

    .desktop-menu {
        transition: 0.3s;

        .item {
            padding: 0.5em 0.5em 0.5em 2em;

            &:hover {
                background-color: #eef1f7;
                border-left: 6px solid #00bfa6;
                transition: 0.2s;
                cursor: pointer;
            }
        }

        .icon {
            color: #2c3e50;
            font-size: 1.5rem;
            margin-right: 20px;
            width: 40px;
        }

        @media only screen and (max-width: 1120px) {
            display: none !important;
        }
    }

    .mobile-menu {
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 2rem;
        z-index: 9999;

        .mobile-button {
            align-items: center;
            border-radius: 1rem;
            display: flex;
            gap: 5px;
            justify-content: center;

            &:hover {
                background-color: #00bfa6;
                color: white;
                cursor: pointer;
                font-weight: bold;
            }
            @media only screen and (max-width: 490px) {
                height: 50px;
                margin-left: 1rem;
                padding: 2px;
            }
        }

        @media only screen and (min-width: 1120px) {
            display: none;
        }
    }

    @media only screen and (max-width: 1120px) {
        height: 50px;
        margin-left: 1rem;
    }
}
