<div class="contenedor">
    <app-usuario-logueado nombre="Nell Guerra" beneficiario="Beneficiario"
        imagen="../../../assets/images/undraw_male_avatar_323b.svg"></app-usuario-logueado>

    <!-- Menu -->
    <div class="contendor-menu">
        <P class="lista-menu"><i class="icono fab fa-usps"></i>Pedir Aguila</P>
        <P class="lista-menu"><i class="icono fas fa-fighter-jet"></i>Vuelos</P>
        <P class="lista-menu"><i class="icono fas fa-route"></i>Rutas</P>
        <P class="lista-menu"><i class="icono fas fa-user-cog"></i>Administrar</P>
        <P class="lista-menu"><i class="icono fas fa-chart-bar"></i>Estadisticas</P>
        <P class="lista-menu"><i class="icono fas fa-pager"></i>Medios de pago</P>
        <P class="lista-menu"><i class="icono fas fa-sign-out-alt"></i>Cerrar sesión</P>
    </div>
</div>